.performers-table {
  width: 100%;
  border-collapse: collapse;
  font-family: inherit;
  /* border-radius: 24px; */
  /* overflow: hidden; */
}

.performers-table-tr th,
.performers-table-tr td {
  padding: 12px 20px;
  text-align: left;
}

.performers-table-tr th:first-child,
.performers-table-tr td:first-child {
  font-weight: 400;
  width: 1%;
  white-space: nowrap;
}

.performers-table-tr td:nth-child(2) {
  padding-left: 8px;
}

.performers-table-tr td:last-child {
  text-align: right;
}

.performers-table-body tr:nth-child(odd) {
  background: #f9f9f9;
  color: #333;
}

.performers-table-body tr:nth-child(even) {
  background: #fff;
  color: #333;
}

.pts {
  padding: 8px;
  border: 1px solid #eaeaea;
  border-radius: 18px;
  background-color: #ffffff;
}
