.custom-dropdown {
  position: relative;
  width: 100%;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  /* background-color: #f1f1f1; */
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}

.dropdown-header:hover {
  border-color: #0c7a50;
}

.dropdown-header:focus-within {
  border-color: #0c7a50;
  /* box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1); */
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 2px solid #e0e0e0;
  border-top: none;
  border-radius: 0 0 8px 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  /* border-bottom: 1px solid #f0f0f0; */
}

.dropdown-item:hover {
  background-color: #edf8f6;
}

.dropdown-item.value {
  background-color: #edf8f6;
  color: #0c7a50;
}

.dropdown-item:last-child {
  border-bottom: none;
}
